<footer class="border-top footer text-muted">
	<div class="container mb-3 mt-3">
		&copy; 2020 <a href="/">Rockpas.com</a> - Rock Paper Scissors.
		<span class="float-right">Made by <a href="https://koshovyi.com" target="_blank">Dmytro Koshovyi</a>, Ukraine, Kyiv.</span>
	</div>
</footer>