@model RockPaperScissors.Models.GameNewVm
@{
	ViewData["Title"] = "Donate";
}

<div class="row">
	<div class="col-lg-12">
		<p>
			<b>Rock paper scissors</b> (also known by other orderings of the three items, with "<b>rock</b>" sometimes being called "<b>stone</b>", roshambo or ro-sham-bo) is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand. These shapes are "rock" (a closed fist), "paper" (a flat hand), and "scissors" (a fist with the index finger and middle finger extended, forming a V). "Scissors" is identical to the two-fingered V sign (also indicating "victory" or "peace") except that it is pointed horizontally instead of being held upright in the air.
		</p>
</div>
