root = true

# Default preferences
[*]
indent_style = tab
indent_size = tab
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

# ReSharper properties
resharper_csharp_indent_size = 4
resharper_csharp_indent_style = tab
resharper_csharp_tab_width = 4

[*.json]
indent_style = space
indent_size = 4
